<h4>Добрый день, Уважаемый пользователь!</h4>
<h6>На данном сайте вы познакомитесь с множеством красивых и милых кошек!</h6>

<p>Ко́шка (лат. Felis catus) — домашнее животное, одно из наиболее популярных (наряду с собакой) «животных-компаньонов».</p>
<p>С точки зрения научной систематики, домашняя кошка — млекопитающее семейства кошачьих отряда хищных. 
Нередко домашнюю кошку рассматривают как подвид лесной кошки (Felis silvestris) — Felis s. catus, однако, с точки зрения современной биологической систематики (2017 год), домашняя кошка является отдельным биологическим видом.</p>
<p>Являясь одиночным охотником на грызунов и других мелких животных, кошка — социальное животное, использующее для общения широкий диапазон звуковых сигналов, а также феромоны и движения тела.
    В настоящее время в мире насчитывается около 600 млн домашних кошек, выведено около 200 пород, от длинношёрстных (персидская кошка) до лишённых шерсти (сфинксы), признанных и зарегистрированных различными фелинологическими организациями.</p>
<p>На протяжении 10 000 лет кошки ценятся человеком, в том числе за способность охотиться на грызунов и других домашних вредителей</p>
